<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <!-- zookeeper 的日志 -->
    <appender name="ZookeeperNet_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="zookeeper.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%-5level] %logger->%M:%line - %m%n" />
      </layout>
    </appender>

    <logger name="ZookeeperNet" additivity="false">
      <level value="INFO" />
      <appender-ref ref="ZookeeperNet_Appender" />
    </logger>

    <!-- 此程序 的日志 -->
    <appender name="ZkManager_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="zkmager.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%-5level] %logger->%M:%line - %m%n" />
      </layout>
    </appender>

    <logger name="ZkManager" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="ZkManager_Appender" />
    </logger>

    <!-- 其他的日志 -->
    <appender name="Other_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="other.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%-5level] %logger->%M:%line - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="Other_Appender" />
    </root>
  </log4net>
</configuration>